# Goes with Systemd system services, then is enabled

[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=jason
WorkingDirection=/home/jason/Sites/DOMAIN
EnvironmentFile=/home/jason/Sites/DOMAIN/.env

ExecStart=/home/jason/Sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
